*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
.section-one{
    color: white;
    background-color: #9AEBA3;
    border-radius: 10px;
}
.section-one, .section-two, .section-three, .section-four, .section-five{

    padding: 20px;
    margin: 20px;
} 
.section-one__name{
    font-size: 55px;
}
.section-one__contact{
    
    
    text-decoration: none;
    color:black;
    background-color: white;
    

}
.section-one__role{

    font-size: 30px;
    padding-bottom: 20px;
    color: black;
    margin-left: 3px;
    
}
.section-one__contact{

    margin-left: 10px;
    border-color: solid black 10px;
    background-color: #60BF81;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.section-two__me,.section-three__interest,.section-four__project {

    padding-bottom: 5px;
}

.section-three__list li,.section-four__projectlist li {

    list-style: none;
}

.section-five{

    background-color:#042326;
    color: white;

}
.section-five a{

text-decoration: none;
padding-left: 10px;
color: #9AEBA3;
}
.section-three{
 
    background-color:#5A6346;
    display: inline-block;
    border-radius: 10px;
    padding-bottom: 100px;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    
}
.section-four{
 
    background-color: #9177F2;
    display: inline-block;
    border-radius: 10px;
    padding-bottom: 66px;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.container{

    padding: 30px;
}
.contact-form{

    margin-left: 450px;

}

.contact-form__input, .contact-form__textarea, .contact-form__submit{

    margin-top: 10px;
}

.contact-form__input{

    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
    
}
.contact-form__textarea{

    padding: 10px;
    border: none;
    border: solid black 1px;
    
}
.contact-form__submit{

    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 3px;
}